[workspace]
members = ["api",
    "browser",
    "common",
    "panel",
    "persister",
    "proxy",
    "imgsync",
    "sched",
]
exclude = ["playground"]
resolver = "3"

[profile.wasm-release]
inherits = "release"
opt-level = 'z'
lto = true
codegen-units = 1
panic = "abort"
